h1 {
    text-align: center;
    color: red;
    background: blueviolet;
    padding: 100px;
}

.Bio {
    font-size: 80px;;
}

h2 {
    text-align: center;
}

.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    border:20px solid black;
    padding:20px 
    }
<<<<<<< HEAD

    .test {
        margin: 0 auto;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 100px solid red;
        
      }
=======
>>>>>>> d782592977b1b373e22e5de0ed686c822ea8dfa2
